<h2>Search Results</h2>


<% if @products.size.zero? %>
  <h4 style="color: red">Sorry No results matched your search</h4>
<% else %>

<h4 style="color: teal"><%= pluralize(@products.size, "results") %> matched your search</h4>

<% @products.each do |product| %>

  <div class="grind">
    <% if product.image? %>
      <%= image_tag product.image.url(:medium) %>
    <% else %>
      <%= image_tag("missing.jpg", size: "300x300") %>
    <% end %>
    <h2 class="product">
      <%= link_to product.product_name, store_product_path(product) %>
    </h2>
    <h4 class="price">
      <%= number_to_currency(product.price, :unit => "Rs ") %>
    </h4>
    <% if product.category %>
      <p>
        <strong>Category: </strong><%= product.category.category_name %>
      </p>
    <% end %>
    <div class="description">
      <%= product.description %>
    </div>
  </div>
  <% end %>
<% end %>